body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

*{
    margin: 0;
    padding: 0; 
    font-family: "Open Sans", serif;
}

#hr{
    width: 90%;
    height: 0.1px; 
    background-color: #000; 
    margin: 12px; 
    margin-left: 50%;
    transform: translateX(-50%); 
    position: relative; 
}

#vr{
    /* height: 90%;
    width: 0.1px;  */
    display: inline-block;
}




#s1{
    display: flex;
    height: auto;
}

#s2 h2{
    letter-spacing: 7px;
    font-size: 12px;
    margin-top: 23px;
    font-weight: 700;
}
#s2 ul{
    font-size: 12px;
}

#imgDIV{
    width: 25%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 32px;
}
#imgDIV img{
    width: 130px;
    height: 130px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
}
#s1 #about{
    width: 70%;
    height: 100%;
    padding: 10px;
    display: block;
}
#s1 #about #name-and-speciality{
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
#s1 #about #name-and-speciality #name{
    margin: 0;
    padding: 0;
}
#s1 #about #discription{
    height: auto;
    display: block;
}
#s1 #about #discription p{
    font-size: 12px;
    font-weight: 300;
}


#s1-and-s2{
    display: flex;

}
#s1-and-s2 #s2{
    width: 30%;
    padding-left: 0px;
    padding: 10px;
}
#s1-and-s2 #s2 ul{
    margin-left: 0%;
    /* margin: 30px; */
}
#s1-and-s2 #s2 li{
    margin: 10px 0;
}


#social-media{
    font-size: 10px;
    padding: 10px 0;
}
#social-media div{
    margin: 10px 0;
}
#social-media a{
    margin: 10px 0;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 10px;
}
#social-media i{
    font-size: 12px;
}

#social-media *{
    font-size: 13px;
}

/* #technical-skills-div {
}

#technical-skills-div h2{
    letter-spacing: 7px;
    font-size: 12px;
} */




#s1-and-s2 #s3{
    width: 75%;
    padding: 10px;
}

#s3 h2{
    font-size: 12px;
    margin-top: 15px;
    font-weight: 700;
}
#s3 .project{
    font-size: 12px;
}
#s3 ul{
    padding-left: 12px;
    font-size: 11px;
}

#s3 #e-commerce-project{
    margin: 20px;
    font-weight: 700;
}
